body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('https://i.ibb.co/Mn3JXw4/gymBG.jpg');
  background-size: cover;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff6600;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1, h2 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details-container {
  background-color: rgba(30, 30, 30, 0.9);
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.detail {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid #333;
  color: #ccc;
}

.detail span {
  font-weight: bold;
  color: #ff6600;
}

.actions {
  margin-top: 1.5rem;
  text-align: center;
}

.edit, .delete {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: background-color 0.3s, transform 0.3s;
  outline: none;
}

.edit:hover, .delete:hover {
  background-color: #cc5200;
  transform: scale(1.05);
}

.edit:active, .delete:active {
  transform: scale(0.95);
}

input[type="text"], input[type="number"] {
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 8px;
}

input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  border-color: #ff6600;
  box-shadow: 0 0 5px #ff6600;
}

button[type="submit"] {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #cc5200;
  transform: scale(1.05);
}

button[type="submit"]:active {
  transform: scale(0.95);
}
